spring:
  datasource:
    url: jdbc:h2:mem:strive;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate.format_sql: true
  h2:
    console:
      enabled: true

mybatis:
  configuration:
    map-underscore-to-camel-case: true

server:
  servlet:
    session:
      cookie:
        secure: false
